
/* ############# MORE WORK MAIN ############## */

#moreMain {
	width: 840px;
	margin: 60px auto 0;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}


/* ############# MORE WORK HEADING ############## */

.moreHeading {
	width: 751px;
	height: 152px;
	margin: 0 auto;
	margin-top: 110px;
	margin-bottom: 60px;
	background-image: url("https://www.transparenttextures.com/patterns/grid-me.png");
}

.moreHeading h2 {
	font-size: 32px;
	font-weight: 200;
	color: white;
	letter-spacing: 8px;
	padding: 8px 46px;
	background-color: white;
	color: rgb(0, 16, 40);
	width: 460px;
	position: relative;
	left: 100px;
	top: 50px;
}


/* ############# MORE WORK BLOCK ############## */

.moreBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	border: 1px solid white;
	padding: 20px;
	width: 280px;
	height: 180px;
	margin: 0 auto;
	margin-bottom: 60px;
}

.moreBlock img {
	height: 150px;
	width: 250px;
}

.moreBlock h3 {
	font-size: 20px;
	margin-top: -8px;
	margin-bottom: 0;
	text-align: left;
}

.hrMore {
	border: none;
	border-top: 2px dashed white;
}

.moreBlock:hover {
	background-color: white;
	color: rgb(0, 16, 40);
	cursor: pointer;
}

.hrMore:hover {
		border-top: 2px dashed rgb(0, 16, 40);
}








/* ############# EVEN MORE BUTTON ############## */

#evenMoreButton {
	/* border: 1px solid white; */
	border: 1px solid #FFE037;

	margin: 0 auto;
	width: 400px;
	height: 60px;

	font-size: 28px;

	display: flex;
	align-items: center;
}

#evenMoreButton p {
	margin: 0 auto;
}

#evenMoreButton:hover {
	background-color: #FFE037;
	cursor: pointer;
	color: rgb(0, 16, 40);
}
