
/* ############ BLOCK ############ */

.otherBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid white;
  padding: 40px;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
}
