

/* ############# BODY ######################## */

body {
	text-align: center;
	margin: 0 auto;
	font-family: 'Rokkitt', serif;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	color: white;


	background: rgb(0, 16, 40);
	background: -webkit-radial-gradient(rgb(0, 43, 70), rgb(0, 16, 40));
	background: -moz-radial-gradient(rgb(0, 43, 70), rgb(0, 16, 40));
	background: radial-gradient(rgb(0, 43, 70), rgb(0, 16, 40));
}




/* ############# HEADER ######################## */

header {
	margin-top: 10px;
}

h1 {
	font-size: 50px;
	font-weight: 200;
	color: white;
	letter-spacing: 6px;
	text-shadow: 5px 10px 80px  rgba(255, 255, 255, .3);
}

h4 {
	font-size: 22px;
	color: white;
	letter-spacing: 10px;
	margin-top: 5px;
	margin-bottom: 40px;
}

header hr {
	margin-top: -20px;
	width: 240px;
}





/* ############# NAV BAR ######################## */


nav {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: center;
}

nav a {
	color: white;
	font-size: 18px;
	letter-spacing: 2px;
	text-decoration: none;
	border: 1px solid white;
	padding-top: 20px;
	height: 40px;
	width: 220px;
}

nav a:hover {
	background-color: white;
	color: rgb(0, 16, 40);
}

nav a:active {
  text-decoration: underline;
}





/* ############# MAIN ######################## */


main {
	margin: 0 auto;
	/*width: 1000px;*/
	margin-top: 70px;
	margin-bottom: 100px;
	min-height: 1200px;
	/*background-color: red;*/
}




/* ############# FOOTER ######### */


footer {
	height: 160px;
}

.hrFooter {
	border: none;
	border-top: 2px dashed white;
}

footer h4 {
	margin-top: 20px;
	letter-spacing: 5px;
}
